<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h3>Welcome to ChatEx!</h3>
  <p>
  	This is a little chatroom written in Elixir.
  </p>
  <form method="POST" url="/identify">
  	<label for="handle">Please enter your twitter alias or gravatar email</label>
  	<input type="text" name="handle" id="handle" autofocus="autofocus"/>
  	<input type="submit" value="Ok"/>
  </form>
</body>
</html>
